<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="com.htc.music.uid.shared" android:versionCode="418577761" android:versionName="4.5.2221253119.491887.469026" package="com.htc.music"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_DRM" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_WIMAX_STATE" />
    <uses-permission android:name="com.htc.permission.WRITE_ULOG" />
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />
    <uses-permission android:name="com.htc.permission.MEDIA_ACCOUNT" />
    <uses-permission android:name="com.htc.music.permission.ENHANCER_SERVICE" />
    <uses-permission android:name="com.htc.musicfolderpicker.permission.PICK_FOLDER" />
    <uses-permission android:name="com.android.email.permission.READ_ATTACHMENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_WRITE_OMA_DRM" />
    <uses-permission android:name="com.htc.vmm.service.permission.VMMEngineService" />
    <uses-permission android:name="com.htc.bpmrss.permission.GET_LIST" />
    <uses-permission android:name="com.htc.dropboxplayer.permission.LAUNCH" />
    <uses-sdk android:minSdkVersion="16" />
    <application android:theme="@style/Theme.CommonBackgroundNoTitle" android:label="@string/mediaplaybacklabel_music" android:icon="@com.htc:drawable/icon_launcher_music" android:taskAffinity="com.htc.music.local" android:description="@com.htc:string/htc_about_company_name" android:allowTaskReparenting="true" allowSkinChange="true" configuredButton="0">
        <activity android:theme="@style/Theme.CommonBackgroundNoTitle" android:label="@string/mediaplaybacklabel_music" android:name="HtcMusic" android:excludeFromRecents="false" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data android:name="com.htc.lockscreen.idlescreen.shortcut" android:resource="@xml/idlescreen_glance" />
            <meta-data android:name="android.app.default_searchable" android:value="*" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="htcdrm" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/awb" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.music.PLAYBACK_VIEWER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.music.PLAYBACK_VIEWER" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:scheme="content" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.Transparent" android:name="QueueListActivity" android:launchMode="singleTask" android:configChanges="keyboardHidden|orientation|screenSize" />
        <meta-data android:name="opensense" android:resource="@xml/supports" />
        <activity android:theme="@style/Theme.CommonBackgroundNoTitle" android:name=".browserlayer.MusicBrowserTabActivity" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustPan">
            <meta-data android:name="com.htc.lockscreen.idlescreen.shortcut" android:resource="@xml/idlescreen" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.music.BROWSE_VIEWER" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="com.htc.media/album" />
                <data android:mimeType="com.htc.media/track" />
                <data android:mimeType="com.htc.media/purchased" />
                <data android:mimeType="com.htc.media/dlna" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.CommonBackgroundNoTitle" android:name=".browserlayer.AddPlaylistTabActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.CommonBackgroundNoTitle" android:name=".browserlayer.AlbumBrowserActivityGrid" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/album" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="com.htc.media/album" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.CommonBackgroundNoTitle" android:label="@string/mediaplaybacklabel_music" android:name=".browserlayer.PlaylistBrowserActivityGrid" android:taskAffinity="" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/playlist" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/playlist" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="com.htc.media/playlist" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="com.htc.media/playlist" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.music.add_to_playlist" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.CommonBackgroundNoTitle" android:name=".browserlayer.TrackBrowserActivity" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/track" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="com.htc.media/track" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.CommonBackgroundNoTitle" android:name=".browserlayer.ComposerBrowserActivity" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="com.htc.media/composer" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.CommonBackgroundNoTitle" android:name=".browserlayer.AlbumTrackBrowserActivity" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="com.htc.media/albumtrack" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.CommonBackgroundNoTitle" android:name=".browserlayer.EditPlaylistActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustResize" />
        <activity android:theme="@style/Theme.CommonBackgroundNoTitle" android:name=".browserlayer.DmsDetailBrowserActivityExp">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="com.htc.media/dmsdetailexp" />
            </intent-filter>
        </activity>
        <activity-alias android:label="@string/musicshortcutlabel" android:icon="@drawable/icon_launcher_music_playlist" android:name="PlaylistShortcutActivity" android:targetActivity=".browserlayer.PlaylistBrowserActivityGrid">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>
        <activity android:theme="@style/Theme.CommonBackgroundNoTitle" android:label="@string/music_picker_title" android:name="MusicPicker" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="vnd.android.cursor.dir/audio" />
            </intent-filter>
        </activity>
        <activity android:name="PropertyListActivity" />
        <activity android:theme="@style/Theme.CommonBackgroundNoTitle" android:name="PluginPropertyListActivity" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="com.htc.music.PluginPropertyListActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.CommonBackgroundNoTitle" android:name="DRMActionActivity" />
        <activity android:theme="@style/Theme.CommonBackgroundNoTitle" android:name="MediaPlaybackErrorActivity" android:excludeFromRecents="false" android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data android:name="android.app.default_searchable" android:value="*" />
        </activity>
        <activity android:theme="@android:style/Theme.Dialog" android:name="ScanningProgressActivity" />
        <service android:name="MediaPlaybackService" android:exported="true" android:process=":mediaplaybackservice">
            <intent-filter>
                <action android:name="com.htc.music.IMediaPlaybackService" />
                <action android:name="com.htc.music.IHtcMediaPlaybackService" />
            </intent-filter>
        </service>
        <receiver android:name="DRMActionActivity$DRMActionActivityBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="MediaButtonIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.bluetooth.AVRCP_PANEL_OPERATION" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <activity android:theme="@style/Theme.CommonBackgroundNoTitle" android:name=".browserlayer.ArtistBrowserActivityExpGrid" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/artistalbumexp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="com.htc.media/artistalbumexpgrid" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.CommonBackgroundNoTitle" android:name=".browserlayer.GenreBrowserActivityExpGrid" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="com.htc.media/genreexpgrid" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.CommonBackgroundNoTitle" android:name=".browserlayer.ComposerBrowserActivityExp" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="com.htc.media/composerexp" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.CommonBackgroundNoTitle" android:name=".browserlayer.DlnaBrowserActivityExp">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="com.htc.media/dlnaexp" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.CommonBackgroundNoTitle" android:name=".browserlayer.FolderBrowserActivityGrid" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="com.htc.media/foldergrid" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.CommonBackgroundNoTitle" android:name="QueryBrowserActivity" android:exported="true" android:taskAffinity="com.htc.music.query" android:clearTaskOnLaunch="true" android:excludeFromRecents="true" android:launchMode="singleTask" android:noHistory="true">
            <intent-filter>
                <action android:name="com.htc.music.query_browser_activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.music.BROWSE_VIEWER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.CommonBackgroundNoTitle" android:name=".browserlayer.LocalMusicSearchActivity" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.htc.music.intent.action.LOCALSEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.CommonBackgroundNoTitle" android:name=".browserlayer.HWSearchActivity" android:exported="true" android:taskAffinity="com.htc.music.query" android:clearTaskOnLaunch="true" android:excludeFromRecents="true" android:launchMode="singleTask" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustResize" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>
        <activity android:theme="@style/Theme.Translucent" android:name="AudioPreview" android:exported="true" android:taskAffinity="" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.CommonBackgroundNoTitle" android:name=".browserlayer.AlbumDetailActivity" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="com.htc.media/albumtrack" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.CommonBackgroundNoTitle" android:name="LandingPageActivity" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.htc.music.landingpage" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.CommonBackgroundNoTitle" android:name="AddAppShortcutActivity" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustPan" />
        <activity android:theme="@style/Theme_cubicRotate_for_A" android:name=".carmode.CarNowPlayingActivity" android:taskAffinity="com.htc.music.carmode" android:excludeFromRecents="true" android:launchMode="singleInstance" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.htc.music.carmode.PLAYBACK_VIEWER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme_cubicRotate_for_A" android:name=".carmode.CarLibraryActivity" android:taskAffinity="com.htc.music.carmode" android:excludeFromRecents="true" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.htc.music.carmode.BROWSE_VIEWER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.music.carmode.BROWSE_VIEWER" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="com.htc.media/album" />
                <data android:mimeType="com.htc.media/artist" />
                <data android:mimeType="com.htc.media/artistalbum" />
                <data android:mimeType="com.htc.media/playlist" />
                <data android:mimeType="com.htc.media/track" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.Transparent" android:name=".carmode.CarTrackBrowseActivity" android:taskAffinity="com.htc.music.carmode" android:launchMode="singleTask" android:screenOrientation="landscape" />
        <activity android:theme="@style/Theme.Transparent" android:name=".carmode.CarAlbumBrowseActivity" android:taskAffinity="com.htc.music.carmode" android:launchMode="singleTask" android:screenOrientation="landscape" />
        <activity android:theme="@style/Theme.Transparent" android:name=".carmode.CarArtistBrowseActivity" android:taskAffinity="com.htc.music.carmode" android:launchMode="singleTask" android:screenOrientation="landscape" />
        <activity android:theme="@style/Theme.Transparent" android:name=".carmode.CarGenreBrowseActivity" android:taskAffinity="com.htc.music.carmode" android:launchMode="singleTask" android:screenOrientation="landscape" />
        <activity android:theme="@style/Theme.Transparent" android:name=".carmode.CarPlaylistBrowseActivity" android:taskAffinity="com.htc.music.carmode" android:launchMode="singleTask" android:screenOrientation="landscape" />
        <activity android:theme="@style/Theme.Transparent" android:name=".carmode.CarFolderBrowseActivity" android:taskAffinity="com.htc.music.carmode" android:launchMode="singleTask" android:screenOrientation="landscape" />
        <activity android:theme="@style/Theme_cubicRotate_for_A" android:name=".carmode.CarLocalMusicSearchActivity" android:taskAffinity="com.htc.music.carmode" android:excludeFromRecents="true" android:launchMode="singleTop" android:screenOrientation="landscape" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.htc.music.intent.action.carmode.LOCALSEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
    <HTC-SDK version="4.61" senseVersion="Sense 4.5" />
</manifest>
